# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# FastAPI
*.log

# Node / React
node_modules/
dist/
build/
.DS_Store

# Environment & secrets
.env
.env.*
*.sqlite3

# IDE files
.vscode/
.idea/